body {
	background-color: #eeeeee;
}

.card-item {
	background-color: rgba(230, 230, 230, 0.9);
	border-style: solid;
	border-radius: 0.30em;
	border-width: 0.15em;
	overflow: hidden;
	margin-top: -0.15em;
	margin-bottom: 0;
	margin-left: 0.30em;
	margin-right: 0.30em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	padding-left: 0.30em;
	padding-right: 0.30em;
}

.card-item.emphasized {
	margin-left: 0;
	margin-right: 0;
	z-index: 10;
}

.card-item.no-padding {
	border-style: none;
	border-color: rgba(0, 0, 0, 0);
	padding: 0;
}

.card-item.short {
	min-height: 1.2em;
	max-height: 1.2em;
}

.card-item.no-padding.short {
	min-height: 1.8em;
	max-height: 1.8em;
}

.card-field-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-field {
	flex-grow: 1;
	border-style: solid;
	border-radius: 0.30em;
	border-width: 0.15em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	padding-left: 0.30em;
	padding-right: 0.30em;
}

.card-field+.card-field {
	margin-left: -0.15em;
}

.card-field-header {
    display: inline-flex;
	font-weight: bold;
}

.card-field-value {
    display: inline-flex;
	font-family: "Arial", sans-serif;
	font-variant: small-caps;
	text-transform: lowercase;
}

.card-field-header+.card-field-value:not(.card-field-right)::before {
	content: ": ";
}

.card-header-name {
	font-size: 1.1em;
	font-weight: bold;
}

.card-field-right {
	float: right;
}

.card-image {
	/*flex-grow: 1;*/
	background-repeat: no-repeat;
	background-position: center;
	min-height: 48px;
	min-width: 48px;
}

.card-icon {
	/*display: inline-block;
  width: 1.25em;
  height: 1.25em;*/
	
}

.card-long-text {
	flex-grow: 1;
	text-align: justify;
}
