body {
	background-color: #eeeeee;
}

.card-item.emphasized {
	margin-left: 0;
	margin-right: 0;
	z-index: 10;
}

.card-item.no-padding {
	border-style: none;
	border-color: rgba(0, 0, 0, 0);
	padding: 0;
}

.card-item.short {
	min-height: 1.2em;
	max-height: 1.2em;
}

.card-item.no-padding.short {
	min-height: 1.8em;
	max-height: 1.8em;
}

.card-image {
	/*flex-grow: 1;*/
	background-repeat: no-repeat;
	background-position: center;
	min-height: 48px;
	min-width: 48px;
}

.card-icon {
	/*display: inline-block;
  width: 1.25em;
  height: 1.25em;*/
	
}
